<div class="col-md-12">
    <h3>Create Session</h3>
  </div>
  <div class="col-md-6">
    <form autocomplete="off" [formGroup]="newSessionForm" (ngSubmit)="saveSession(newSessionForm.value)" >
      <div class="form-group">
        <label for="sessionName">Session Name:</label>
        <input id="sessionName" formControlName="name" type="text" class="form-control" placeholder="session name..." />
      </div>
      <div class="form-group">
        <label for="eventDate">Presenter:</label>
        <input id="presenter" formControlName="presenter" type="text" class="form-control" placeholder="presenter..." />
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <select class="form-control" formControlName="duration">
          <option value="">select duration...</option>
          <option value="1">Half Hour</option>
          <option value="2">1 Hour</option>
          <option value="3">Half Day</option>
          <option value="4">Full Day</option>
        </select>
      </div>
      <div class="form-group">
        <label for="level">Level:</label>
        <select class="form-control" formControlName="level">
          <option value="">select level...</option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="form-group" >
        <label for="abstract">Abstract:</label>
        <textarea id="abstract" formControlName="abstract" rows=3 class="form-control" placeholder="abstract..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancelSessions()" class="btn btn-default">Cancel</button>
    </form>
  </div>