<h1>hello in upcoming events</h1>

<hr>
    <div class="row">
        <div  *ngFor="let event of events" class="col-md-5">  
            <event-thumbnail (click)="handelToaster(event.location.address)" [event]="event"></event-thumbnail>
        </div> 
    </div>
