<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched">Required</em>
      <input #userName="ngModel" id="userName" type="text"  (ngModel)="username" name="userName" class="form-control" placeholder="user name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">Required</em>
      

      <input id="password" type="password" (ngModel)="password" name="password" class="form-control"placeholder="Password..." />
    </div>
        
    <button type="submit" class="btn btn-primary"  [disabled]="loginForm.invalid">Login</button>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>