<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="editProfile(profileForm.value)" autocomplete="off" novalidate>
        <div class="form-group" [ngClass]="{'error': !validClassFirstName()}">
          <label for="firstName">First Name:</label>
          <em *ngIf="!validClassFirstName() && profileForm.controls.firstName.errors.required">Required *</em>
          <em *ngIf="!validClassFirstName() && profileForm.controls.firstName.errors.pattern">not formatted *</em>
          <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{'error':!validClassLastName()}">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!validClassLastName() && profileForm.controls.lastName.errors.required">Required *</em>
          <em *ngIf="!validClassLastName() && profileForm.controls.lastName.errors.pattern">not formatted *</em>
          <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Save</button>
        <button type="button"  (click)="cancel()" class="btn btn-default">Cancel</button>
      </form> 
    </div>
  </div>